<div class="auth-block">
  <form #signInForm="ngForm" (ngSubmit)="signIn(signInForm)" novalidate>
    <mat-form-field class="form" appearance="fill">
      <mat-label>Email</mat-label>
      <input name="email" type="email" ngModel class="input" matInput required>
    </mat-form-field>
    <mat-form-field class="form" appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input name="password" ngModel matInput [type]="hide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <button [disabled]="signInForm.invalid" class="btn" mat-raised-button color="primary">Sign in</button>
  </form>
</div>
