.auth-container {
  width: 100%;
  padding-top: 200px;
}

.auth-block {
  width: 500px;
  padding: 30px 60px;
  margin: 0 auto;
  box-shadow: 3px 10px 53px -11px rgba(0,0,0,.75);
  justify-content: center;

}

.form {
  width: 100%;
}
